.tabla-listado-colaboradores{

width: 800px;
height: 200px;

}


.estilosFila{
    text-align: center;
}
    
.tabla-listado-colaboradores {
    border: 1px solid gray; 
  }
  
  .tabla-listado-colaboradores th,
  .tabla-listado-colaboradores td {
    border: 1px solid gray; 
  }